<div id="monster_controls">
  <h3>controls</h3>
  <hr>
  <!-- Insert into Current cursor position -->
  <p class="btn-link" onclick="insertMonster('<%= monster.id %>')"><i class="material-icons">content_paste_go</i> Insert Monster </p>

  <script type="text/javascript">

  </script>
</div>
