$red: #930C10;
$gold: #F7CE65;
$cream: #FFFEBD;
$dark-brown: #654321;

// Class colors
$barbarian: #E7623E;
$paladin: #B59E54;
$bard: #AB6DAC;
$ranger: #507f62;
$cleric: #91a1b2;
$rogue: #555752;
$druid: #7A853B;
$sorcerer: #992e2e;
$fighter: #7f513e;
$warlock: #7b469b;
$monk: #51a5c5;
$wizard: #2a50a1;


.red-text {
  color: $red !important;
}
