<div class="row">
  <% @maps.each do |map| %>
    <div class="col-sm-4">
      <h4><%= map.name %></h4>
      <img src="<%= map.preview %>" class="img-responsive img-fluid">
    </div>
  <% end %>
</div>
